<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Task Management Source</title>
    <link rel="stylesheet" th:href="@{/css/reset.css}"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<main>
    <div class="flex-wrapper index">
        <div class="flex-wrapper index-links">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga asperiores itaque, sint iusto, incidunt
                sapiente voluptatibus soluta assumenda culpa aspernatur dignissimos libero quidem aut quibusdam
                excepturi numquam vel, deleniti non?</p>
            <a th:href="@{/users/register}">Register</a>
            <a th:href="@{/users/login}">Login</a>
        </div>
    </div>
</main>
    <div th:replace="~{fragments/footer}"></div>
</body>
</html>
